/* Ensure the entire page is centered with background image */
.HomePageBackground {
    display: flex;
    justify-content: center;
    align-items: center;
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding: 0; /* Adjust padding as needed */
}

/* Center the login container */
.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* Ensure the container takes full height */
}

/* Style the login container */
.loginContainer {
    background-color: rgba(119, 176, 240, 0.5);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: start;
    transition: all 0.5s ease-out;
    margin: 0; /* Remove margin to center properly */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .loginContainer {
        padding: 1rem;
        margin: 0 2rem;
    }
}

@media (max-width: 480px) {
    .loginContainer {
        padding: 1rem;
        margin: 0;
    }
}
